// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$primary: #0052ff;

$grey_light: #f2f2f2;
$grey_text: #9e9e9e;
$white: #fff